@import'vars';
@import'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-right: calc(50% - $widthSite / 2);
    padding-left: calc(50% - $widthSite / 2);
}

.header {
    background-color: $headerFooterColor;
    padding: 20px 235px;
    display: flex;
    justify-content: space-between;


    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    .logo:hover {
        transform: scale(1.1);
    }

    .search:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 34px;
    }

    .header__link-site:hover {
        transform: scale(1.1);
    }

    .header__menu:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

#burger {
    position: absolute;
    left: -99999px;
    visibility: hidden;

    &:checked~.slide__menu {
        right: 0;
    }
}

.box-content {
    overflow: hidden;
    //для того, чтобы из-за скрытого справа меню не появлялась полоса прокрутки
}

.slide__menu {
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    position: absolute;
    z-index: 11;
    top: 82px;
    right: -250px;
    transition: right 0.3s;

    &_box {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &_heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $primaryTextColor;
        padding-bottom: 24px;
    }

    &_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        transition: 0.3s;

        &:hover {
            color: $colorSelectSite;
        }
    }

    &_title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorSelectSite;
    }

    &_list {
        list-style-type: none;
        padding-left: 21px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        margin-top: 12px;
    }
}

.content {
    background: #f1e4e6;
    @include flex_center;
    justify-content: center;
    margin-bottom: 4%;

    &-left {
        width: 100%;
    }

    &-right {
        width: 100%;
        @include flex_center;
        gap: 1%;
        padding-left: 4%;
    }

    .title {
        color: #222;
        font-size: 48px;
        font-weight: 900;
    }

    .sudlitle {
        color: #222;
        font-size: 32px;
        font-weight: 700;
    }

    .color {
        color: $colorSelectSite;
    }
}

.catalog-sale {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 6%;

    .women {
        background-image: url(img/shadow_sale.svg), url(img/women.webp);
        width: 360px;
        height: 260px;
    }

    .women:hover {
        background-image: url(img/women.webp);
    }

    .men {
        background-image: url(img/shadow_sale.svg), url(img/men.webp);
        width: 360px;
        height: 260px;
    }

    .men:hover {
        background-image: url(img/men.webp);
    }

    .kids {
        background-image: url(img/shadow_sale.svg), url(img/kids.webp);
        width: 360px;
        height: 260px;
    }

    .kids:hover {
        background-image: url(img/kids.webp);
    }

    .accesories {
        background-image: url(img/shadow_sale.svg), url(img/accesories.webp);
        width: 100%;
        height: 100%;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .accesories:hover {
        background-image: url(img/accesories.webp);
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sale-text {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    .sale-color {
        color: $colorSelectSite;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
}

.featured {
    &-title {
        text-align: center;
        margin-bottom: 3.5%;
    }

    .title__subtitle {
        color: #222;
        font-size: 30px;
        font-weight: 400;
    }

    .title__text {
        color: #9f9f9f;
        @include font_14_400;
    }

    &-catalog {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(2, 581px);
        gap: 30px;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin-bottom: 4%;
    }

    @include featured-catalog-all;

    &-button {
        text-align: center;
        margin-bottom: 95px
    }

    .button {
        border: 1px solid $colorSelectSite;
        color: white;
        color: $colorSelectSite;
        font-size: 16px;
        font-weight: 400;
        padding: 1rem 2rem;
    }
}

.info {
    background: #222224;
    min-height: 341px;
    @include flex_center;
    flex-direction: row;
    gap: 30px;

    &__item {
        @include flex_center;
        flex-direction: column;        
    }

    &__link {
        margin-bottom: 8%;
    }

    .title__iteminfo {
        color: #FBFBFB;
        font-size: 19.96px;
        font-weight: 400;
        margin-bottom: 5%;
    }

    .text__iteminfo {
        color: #FBFBFB;
        text-align: center;
        font-size: 13.972px;
        font-weight: 300;
    }
}

.subscribe {
    background-image: url('img/shadow_footer.svg'), url('img/footer_back.webp');
    background-size: cover;
    background-position: center;
    min-height: 448px;
    @include flex_center;
    justify-content: space-between;

    .review {
        width: 35%;
        @include flex_center;
        flex-direction: column;
    }

    .review__photo {
        margin-bottom: 10%;
    }

    .text__review {
        color: #222224;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }

    .title__request {
        color: #222224;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 167.2%;
        /* 40.128px */
    }

    .subtitle__request {
        color: #222224;
        font-size: 18px;
        font-weight: 400;
        line-height: 167.2%;
        margin-bottom: 10%;
    }

    & form {
        display: flex;
        flex-direction: row;
    }

    .email__input {
        max-width: 256px;
        padding: 16px 64px 16px 22px;
        background-color: #E1E1E1;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        opacity: 0.6;
        border: none;
        outline: none;
        margin: 0;
    }

    .email__input::-moz-placeholder {
        color: #222;
        @include font_14_400;
        line-height: 17px;
    }

    .email__input::placeholder {
        color: #222;
        @include font_14_400;
        line-height: 17px;
    }

    .sub_btn {
        max-width: 100px;
        padding: 15px 7px 15px 8px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $colorSelectSite;
        border: none;
        color: #FFF;
        text-align: center;
        @include font_14_400;
        line-height: 17px;
        transition: 0.3s;
    }

    .sub_btn:hover {
        background-color: #f1afaf;
        color: #c73649;
    }
}

.footer {
    background: $headerFooterColor;
    min-height: 79px;
    @include flex_center;
    justify-content: space-between;
    

    .copyright {
        color: #FBFBFB;
        font-size: 16px;
        font-weight: 400;
    }

    &__links {
        width: 148px;
        display: flex;
        gap: 7px;
    }

    .social__links {
        background: #FFF;
        width: 32px;
        height: 32px;
        @include flex_center;
        justify-content: center;
    }

    .social__links:hover {
        background: $colorSelectSite;
    }
}

//PRODUCT

.top-head {
    background: #F8F3F4;
    min-height: 148px;
    @include flex_center;
    justify-content: space-between;
    

    .top__title {
        color: $colorSelectSite;
        font-size: 24px;
        font-weight: 400;
    }

    &__link {
        color: #636363;
        font-size: 14px;
        font-weight: 300;
    }

    &__linkcolor {
        color: $colorSelectSite;
        font-size: 14px;
        font-weight: 700;
    }
}

.carousel {
    background: #F7F7F7;

    &-inner {
        height: 777px;
        display: flex;
        justify-content: space-evenly;
    }

    &-control-prev, &-control-next {
        background: rgba(42, 42, 42, 0.15);
        width: 47px;
        height: 47px;
        top:361px;
    }

    &-control-prev:hover {
        background: $colorSelectSite;
    }

    &-control-next:hover {
        background: $colorSelectSite;
    }  
}

.product-info {
    position: relative;
    margin-bottom: 744px;

    &-border {
        width: $widthSite;
        border: 2px solid #EAEAEA;
        @include flex_center;
        flex-direction: column;
        position: absolute;
        top: -80px;
        left: calc(50% - $widthSite / 2);
        background: white;
    }

    &-subtitlecolor {
        color: $colorSelectSite;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 12px;
        margin-top: 65px;
    }

    &-separatorcolor {
        margin-bottom: 12px;
    }

    &-title {
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 48px;
    }

    &-text {
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 32px;
        width: 515px;
    }

    &-price {
        color: $colorSelectSite;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 65px;
    }

    &-seporator {
        margin-bottom: 65px;
    }

    &-menu {
        display: flex;
        gap: 22px;
        margin-bottom: 48px;
    }

    .menu-text {
        color: #6F6E6E;
        @include font_14_400;
    }

    .selection {
        display: flex;
    }

    .add-cart {
        width: 212px;
        height: 48px;
        border: 2px solid $colorSelectSite;
        @include flex_center;
        justify-content: center;
        gap: 23px;
        margin-bottom: 65px;
    }

    .cart {
        color: $colorSelectSite;
        font-size: 16px;
        font-weight: 400;
    }
}

.featured-catalog-product {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 581px;
    gap: 30px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 8%;

    @include featured-catalog-all;

}

// CATALOG

.top-head {
    background: #F8F3F4;
    padding: 60px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $colorSelectSite;
    }

    .breadcrumbs {
        display: flex;


        &__link {
            color: #636363;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            transition: 0.3s;
        }

        &__link:hover {
            color: $colorSelectSite;
        }

        &__link_site:hover {
            text-shadow: 1px 1px 1px $primaryTextColor;
        }
    }

    .breadcrumbs__link:not(:last-child)::after {
        content: "/";
        padding: 0 8px;
    }

    .breadcrumbs__link:last-child {
        font-weight: 700;
        color: $colorSelectSite;
    }
}


.featured-catalog-men {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows:repeat(3, 581px) ;
    gap: 30px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 8%;

    @include featured-catalog-all;

}

.filter-sort {
    display: flex;
    height: 132px;
    position: relative;
    gap: $gapGrid;
    padding-top: 39px;
}

.filter {
    padding-top: 13px;
    width: 360px;
    position: relative;

    &__content {
        background-color: #fff;
        padding: 0px 16px 16px 16px;
    }

    &[open] {
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        animation: slide 0.6s;
        z-index: 10;
    }
    

    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__heading {
        color: $primaryTextColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: 0.3s;
    }

    &__heading:hover {
        color: $colorSelectSite;
        cursor: pointer;
    }

    &__summary:hover path {
        fill: $colorSelectSite;
    }

    &__item {
        margin-top: 16px;
    }

    &__head {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $colorSelectSite;
        }
    }

}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 28px;

    &__details {
        position: relative;
        z-index: 9;
    }

    &__details[open] {
        animation: slide 0.6s;
    }

    &__summary {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: 0.3s;
    }

    &__heading:hover {
        color: $colorSelectSite;
        cursor: pointer;
    }

    &__summary:hover path {
        color: $colorSelectSite;
        fill: $colorSelectSite;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        z-index: 10;
        left: -9px;
        top: 20px;
    }
}